.container
  width 100%
  overflow hidden
  background rgba(43,52,61,1)
  color #8a9199
  .content
    width 100%
    margin 0 auto
    padding 0.54rem 0.4rem 0.31rem 0.4rem
  .list
    width 100%
    display flex
    flex-wrap wrap
    justify-content space-between
    box-sizing border-box
    .item
      width 33%
      dt
        margin-bottom 0.23rem
        color #B8C2CC
        img
          display block
          width 0.9rem
          height 0.9rem
          background-color #ddd
      dd
        margin-bottom 0.15rem
        color #8A9199
        a
          color #8A9199
          &:hover
            cursor pointer
            color #b8c2cc
      .desc
        margin-bottom 0.08rem
  .friend-link
    display flex
    height 0.3rem
    justify-content center
    align-items center
    margin-top 0.4rem
    font-size 0.16rem
    color #8A9199
    .key
      width 1rem
      font-size 0.16rem
    .link-list
      a
        color #8A9199
        font-size 0.16rem
        margin-right 0.2rem
        &:hover
          cursor pointer
          color #b8c2cc
  .copyright
    font-size 0.16rem
    text-align center
    margin-top 0.15rem
    font-family PingFang-SC-Medium
