>>>.el-carousel__container
  height 4.88rem!important
  .el-carousel__arrow
    top 3rem
.container
  width 100%
  background-color #FAFBFC
  .content
    width 12rem
    margin 0 auto
    padding 1.2rem 0
    color #475766
    .title
      font-size 0.48rem
      font-family "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif
      font-weight 800
      text-align center
    .sub-title
      font-size 0.32rem
      font-family "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif
      font-weight 800
      text-align center
      margin-top 0.3rem
    .list
      display flex
      flex-wrap wrap
      justify-content space-between
      margin-top 0.8rem
      .item
        display flex
        justify-content center
        align-items center
        width 2.8rem
        height 1.2rem
        margin-bottom 0.24rem
        background-color white
        font-size 0.24rem
        color #475766
        cursor pointer
        img
          width 0.48rem
          height 0.48rem
          margin-right 0.1rem
